rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /comments/{docId} {
      allow read: if true;

      allow create: if
        request.resource.data.keys().hasOnly(['name', 'message', 'timestamp']) &&
        request.resource.data.name is string &&
        request.resource.data.message is string &&
        request.resource.data.timestamp is timestamp &&
        request.resource.data.name.size() > 0 &&
        request.resource.data.name.size() <= 10 &&
        request.resource.data.message.size() > 0 &&
        request.resource.data.message.size() <= 90 &&
        !request.resource.data.name.matches('.*(http://|https://|www\\.).*') &&
        !request.resource.data.message.matches('.*(http://|https://|www\\.).*');

      allow update, delete: if false;
    }
  }
}
